<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<appSettings>
		<add key="default" value="Server=db60199f-6f28-409b-93f7-a3a700ad0af1.sqlserver.sequelizer.com;Database=dbdb60199f6f28409b93f7a3a700ad0af1;User ID=aebjjvubmvpmtbzo;Password=ay74Q2CazKGdoTgxvib6s2kg6TgHEshtT8ZTH2BjfAkzHrMbXedgYzChnZ66T3Ch;"/>
	</appSettings>
</configuration>
